// define variables
$essential-base: #727272;
$essential-subdued: #727272;
$color: white;
$spice-button-disabled: #535353;
$spice-text: white;

// Modify Spicetify Modal
.GenericModal {
  border-radius: 8px;
  background-color: #121212 !important;
}

.main-trackCreditsModal-container {
  min-width: 20vw;
  background-color: #121212 !important;
}

// Custom CSS inspired by Spotify
.button {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.8125rem;
  font-weight: 700;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  background-color: transparent;
  border-radius: 500px;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transition-duration: 33ms;
  transition-property: background-color, border-color, color, box-shadow, filter,
    transform;
  user-select: none;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
  padding-block: 3px;
  padding-inline: 15px;
  border: 1px solid $essential-base;
  color: $color;
  min-block-size: 32px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.button:hover {
  transform: scale(1.04);
  border-color: #ffffff !important;
}

.button:active {
  opacity: 0.7;
  outline: none;
  transform: scale(1);
  border-color: var(--essential-subdued, #878787);
}
